{% extends 'base.html' %}

{% load static %}

{% block content %}
	<a name="notes"></a>
	<div id="notes" class="section">
	    <div class="container">
			<div class="notes-content">
			    <div>
                    <h2>Notes</h2>
                    <div class="list">
                    {% if notes %}
                        {% for note in notes %}
                            <div class="list-item">
                                <div class="title"><h4>{{ note.title }}</h4></div>
                                <div class="description"><p>{{ note.description }}</p></div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
			    </div>
                <div>
			        <img src="{% static 'notes/images/overview.jpg' %}" alt="">
			    </div>
			</div>
	    </div>
	</div>
{% endblock %}