{% extends 'base.html' %}

{% load static %}

{% block content %}
    <a name="todo-lists"></a>
	<div id="todo-lists" class="section">
	    <div class="container">
            <div class="todo-lists-content">
            <div class="list-item">
                <div class="title"><h4>{{ todolist.title }}</h4></div>
                <div class="description"><p>{{ todolist.description }}</p></div>

                <ul class="list">
                    {% for item in todolist.todoitem_set.all %}
                        <li>
                            <div class="todo-list-item">
                                <form class="edit-form" method="post" action="{% url 'notes:todo_item_edit' todolist.id item.id %}">
                                    {% csrf_token %}
                                    <input type="text" name="item" value="{{ item.item }}">
                                    <input type="submit" Value="Save">
                                </form>
                                <a class="delete-btn" href="{% url 'notes:todo_item_delete' todolist.id item.id %}">
                                    x
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                    <li>
                        <div class="todo-list-item">
                            <form class="edit-form" method="post" action="/todo/{{ todolist.id }}/item/add/">
                                {% csrf_token %}
                                <input type="text" name="item">
                                <input type="submit" value="Add">
                            </form>
                            <a></a>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
{% endblock %}