<div class="list-item">
    <form method="post" action="{%  url 'notes:note_edit' note.id %}">
        {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" value="{{ note.title }}" id="title">
        <br>
        <label for="description">Description</label>
        <br>
        <input type="text" name="description" value="{{ note.description }}" id="description">
        <br>
        <input type="text" name="text" value="{{ note.text }}">
        <br>
        <input type="submit" value="Save">
        <a class="delete" href="{% url 'notes:note_delete' note.id %}">
            Delete
        </a>
    </form>
</div>